/* your styles go here */

.dropdown-toggle::after{
    margin-right: .255em
}
#footer ul{
    padding-right: 0;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-append{
    margin-right : -1px;
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.breadcrumb-item+.breadcrumb-item{
    padding-right: .5rem;
}
.breadcrumb-item+.breadcrumb-item::before{
    padding-left: .5rem;
}
#content .card.sidebar-menu ul.nav ul{
    padding-right: 0;
}
#content .info-bar .products-sort-by select{
    margin-right: 10px;
}
/* .ribbon{
    padding-right: 51px;
}
.ribbon .theribbon{
    padding: 6px 20px 6px 20px;
    margin: 30px -71px 10px 10px;
} */
.btn + .btn{
    margin-right: 5px;
}